:root {
    --cor-fundo: #333;
    --cor-texto: #fff;
    --cor-header: #222;
    --cor-main: #111;
    --cor-secao: #222;
    --cor-borda: #444;

    --fonte-padrao: Arial, sans-serif;
    --tamanho-h1: 2rem;
    --tamanho-h2: 1.5rem;
    --tamanho-p: 1rem;

    --padding-padrao: 1rem;
    --padding-header: 2rem;
    --margin-padrao: 1rem;

    --largura-max-main: 75rem;
    --largura-imagens: 6.25rem;
    --altura-imagens: 6.25rem;
    --border-radius: 0.3125rem;
    --border-size: 0.0625rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    max-width: var(--largura-max-main);
    margin: var(--padding-header) auto;
    background-color: var(--cor-main);
    padding: var(--padding-header);
    display: flex;
    flex-wrap: wrap;
}