:root {
    --cor-fundo: white;
    --cor-header-footer:  #0d3b4a;
    --cor-texto-header: white;
    --cor-texto: #15627F;

    --fonte-texto: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: var(--fonte-texto)
}

/* CABEÇALHO - COMEÇO */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.938rem 1.25rem;
    background-color: var(--cor-header-footer);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.063rem;
    font-weight: bold;
    color: white;
}

.logo-img {
    background-image: none;
    padding: 0rem 10rem 0.063rem;
}
.logo h2 {
    position: absolute;
    padding: 2.813rem 1.25rem 0.688rem 1.25rem;
    
}

nav {
    gap: 1.25rem;
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
    gap: 3.75rem;
    padding-top: 2.5rem;
    padding-left: 6.25rem;
}
nav li {
    list-style: none;

}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover {
    display: inline-block;
    transform: scale(1.0);
    font-weight: bold;
}
.login {
    background-color: var(--cor-texto);
    width: 5.625rem;
    height: 2.188rem;
    margin: 2.188rem 6.25rem 0rem 0rem;
    border-radius: 0.188rem;
}

.login a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.login a h4 {
    text-align: center;
    padding: 0.313 1.25rem  0.625rem 1.25rem;
}
/* CABEÇALHO - FIM */

/* MAIN  - COMEÇO */
main {
    margin: 0px 1.25rem 0.625rem 1.25rem;
}

#sobre {
    display: flex;
    align-items: center;

}

.sobre-texto {
    display: flex;
    flex-direction: column;
    font-size: large;
    text-align: left;
    gap: 0.938rem;
    padding-top: 1.20rem;
    padding-bottom: 13.75rem;

}

.sobre-texto h1 {
    font-size: xx-large;
}
.sobre-img {
    padding: 0rem 3.125rem 5rem 5.625rem;
    width: 31.25rem;
    height: 17.5rem;
}

#funcionalidades {
    padding: 1.25rem;
    margin-top: -3.125rem;
    padding-left: -1.875rem;
    padding-right: -1.875rem;

}

.grid-funcionalidades-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1.25rem;
    justify-items: stretch;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    color: var(--cor-texto-header);
}

.recurso {
    display: flex;
    background-color: var(--cor-texto);
    width: 100%; 
    padding: 1.25rem /*100px 20px 100px;*/;
    padding-right: 6.25rem;
    border-radius: 0.313rem;
    box-sizing: border-box;
}

.recurso-texto {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    max-width: 100%;
    white-space: normal;
    font-weight: 200;
    width: 100%;
}

.recurso-texto h2 {
    width: 100%;
    padding: 0rem 2.5rem 0.625rem 0rem;
    padding-top: -0.625rem;
}
.recurso-texto p {
    font-weight: 400;
}
/* MAIN - FIM */

/*FOOTER- COMEÇO*/
footer {
    padding: 0.625rem;
    background-color: var(--cor-header-footer);
    color: var(--cor-texto-header);
    margin-top: 6.25rem;
}

footer h2{
    margin-bottom: 1.25rem;
    margin-left: 0.625rem;
    font-size: x-large;
}
.contato {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 10%;
    align-items: end;
}
.email, .email-icon {
    display: flex;
    padding-right: 0.625rem;
}
.telefone,
.telefone-icon {
    display: flex;
    padding-right: 0.625rem;
}
.twitter,
.twitter-icon {
    display: flex;
    padding-right: 0.625rem;
}
.instagram,
.instagram-icon {
    display: flex;
    padding-right: 0.625rem;
}

footer p {
    text-align: center;
    padding-top: 3.125rem;
}

main .login-container {
    text-align: center;
    border-radius: 0.625rem;
    box-shadow: 0.313rem 0.313rem rgba(13, 59, 74, 0.2);
    margin: 6.25rem 25rem 6.25rem 25rem;
    padding: 5rem 0.625rem;
    background-color: rgb(230, 228, 228);
}

main .login-container h1 {
    position: relative;
    bottom: 3.438rem;
    margin: 0.625rem;
    font-weight: 700;
    font-weight: bolder;
}
main .email-senha {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2.5rem;
    text-align: left;
    padding-right: 11.25rem;
}
main label {
    position: relative;
    left: 4.375rem;
    text-align: center;
    background-color: var(--cor-texto);
    border-radius: 0.438rem;
    color: var(--cor-texto-header);
    width: 3.75rem;
    height: 1.875rem;
    padding-top: 0.188rem;
}
main input {
    margin-left: 6.25rem;
    border-radius: 0.375rem;
    height: 1.875rem;
    width: 15.625rem;
    text-align: center;
}
.entrar-button {
    background-color: var(--cor-header-footer);
    margin: 4.375rem 12.5rem 0rem 12.5rem;
    padding: 0.313rem 0.188rem 0.313rem 0.188rem;
    border-radius: 1.25rem;
}
.entrar-button a {
    /* position: relative;
    bottom: 40px; */
    color: var(--cor-texto-header);
    text-decoration: none;
    font-size: medium;
}

.entrar-button h3 {
    font-weight: 500;
}